# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries for Data Science
- Table development environment open source tools used in data science
- Introduce arithmetic expression examples

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. NumPy
3. Pandas

| Data Science Tools |
| --- |
| JupyterLab |
| Spyder |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Thea Sofokleous